.settings__settting {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__settting i {
    opacity: 0.8;
    margin-right: 20px;
    font-size: 22px;
}

.settings__settting-column:last-child {
    opacity: 0.5;
}